<div class="mx-auto max-w-7xl py-5 px-4 sm:px-6 lg:px-8">

  <div class="fixed top-21 rounded-md inset-x-0 bg-white border-b mx-auto max-w-6xl py-5 px-4 sm:px-6 lg:px-8 border-gray-200 p-4 shadow-lg z-50">
    <%= form_with model: Request.new, url: requests_path, method: :post, local: false, class: "flex items-center space-x-4", id: "request_form" do |form| %>
      <div class="flex-1">
        <%= form.label :description, "Description", class: "sr-only" %>
        <%= form.text_field :description, placeholder: "Enter request description", class: "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
      <div>
        <%= form.submit "Submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>

  

  <!-- Other content for different roles -->


  <div class="pt-20">
  <div class="sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-3" aria-label="Tabs">
          <a href="<%= dashboard_path(status: 'live') %>" data-turbo-frame="requests" class="flex whitespace-nowrap border-b-2 <%= 'border-indigo-500 text-indigo-600' if params[:status] == 'live' || params[:status].blank? %> border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
          Live
          <span class="ml-3  rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-gray-900 md:inline-block"><%= @live_requests_count %></span>
        </a>
        <a href="<%= dashboard_path(status: 'accepted') %>" data-turbo-frame="requests" class="flex whitespace-nowrap border-b-2 <%= 'border-indigo-500 text-indigo-600' if params[:status] == 'accepted' %> border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
          Accepted
          <span class="ml-3  rounded-full bg-purple-400/10 px-2.5 py-0.5 text-xs font-medium text-purple-900 md:inline-block"><%= @accepted_requests_count %></span>
        </a>
        <a href="<%= dashboard_path(status: 'completed') %>" data-turbo-frame="requests" class="flex whitespace-nowrap border-b-2 <%= 'border-indigo-500 text-indigo-600' if params[:status] == 'completed' %> border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-red-200 hover:text-gray-700">
          Completed
          <span class="ml-3 rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-900 md:inline-block"><%= @completed_requests_count %></span>
        </a>
      </nav>
    </div>
  </div>

  <%= turbo_stream_from "requests" %>
  
<turbo-frame id="requests">
  <%= render partial: 'dashboard/requests', locals: { requests: @requests } %>
</turbo-frame>


