<div id="<%= dom_id bid %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vendor:</strong>
    <%= bid.vendor_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Request:</strong>
    <%= bid.request_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= bid.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= bid.status %>
  </p>

</div>
