<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vendor:</strong>
    <%= order.vendor_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buyer:</strong>
    <%= order.buyer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Request:</strong>
    <%= order.request_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

</div>
