<div id="<%= dom_id buyer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= buyer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= buyer.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= buyer.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= buyer.phone_number %>
  </p>

</div>
